.wrapper1 {

  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas: 
        "Header  Header  Header"
        "navbar navbar  navbar"
        "...  content1 ..."
        "...  image1  ..."
        "bottombar  bottombar bottombar";
}

.Header {

  grid-area: Header;
}

.content {

  grid-area: content1;
  font-size: 20px;
  margin-bottom: 10px;
  background-color: #FF0000;
  border-radius: 8px;
}

.image1 {

  grid-area: image1;
}

.navbar{
    grid-area: navbar;
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 18%; 
    text-align: center;
}

.bottombar {

  grid-area: bottombar;
  overflow: hidden;
  width: 100%;
  list-style-type: none;
  background-color: #333333;
  display: block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e1dbdb;
  width: 100vw;
  z-index: 1000;
}

ul li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #FF0000;
  color: #000000;
}

h1{
    text-align: center;
    color: #000000;
}

span{
  background-color: #FF0000;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
}

body{
    background-color: #808080;
    text-align: left;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

h2{
    font-size: 35px;
    text-decoration: underline;
}

@media screen and (max-width: 800px){
  .navbar{
    float: none;
    padding: 12px 0;
    color: white;
    text-decoration: none;
    font-size: 10px;
    width: 100%; 
    text-align: center;
  }

  ul{
    width: 100%;
  }

  h1 span{
    font-size: 20px;
    padding: 5px;
    display: inline-block;
  }

  h2{
    margin-left: 15px;
    font-size: 28px;
  }

  .content{
    margin-left: 15px;
    margin-top: 10px;
    font-size: 18px;
  }

  .image{
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }

  .bottombar{
    position: relative;
    bottom: 0;
    width: 100%;
  }
}
